.Title {
    padding: 3.125rem 0;
    text-transform: uppercase;

    @include breakpoint($desktop) {
        padding: 6.25rem 0;
    }

    &-heading {
        display: inline-block;
        font-weight: $fw-base;
        margin: 0 0 .67rem;
        border-bottom: 2px solid $black;
        letter-spacing: 5px;
        padding-left: 5px;
        transition: padding .3s ease;

        &:hover {
            padding-left: calc(2rem + 5px);
            padding-right: 2rem;
        }
    }

    &-slogan {
        font-size: 0.88rem;
        margin: 0 -4px 0 0;
        letter-spacing: 4px;
    }
}

.Carousel {
    &-item {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        left: 0 !important;
        text-align: center;
        //transform: translateY(-0%) translateX(0) scale(.95);
        z-index: 0;
        transition-delay: 2;
        transition: opacity .7s ease-in-out, visibility .7s ease-in-out, transform .7s ease-in-out;

        &.is-selected {
            opacity: 1;
            visibility: visible;
            //transform: translateY(0) translateX(0) scale(1);
            z-index: 2;
            //transition-delay: 2;
            transition: opacity .7s ease-in-out, visibility .7s ease-in-out, transform .7s ease-in-out;
        }
    }
}

.flickity-slider {
    transform: none !important;
  }

.Intro {
    padding: 4.69rem 0;
    line-height: 2;

    @include breakpoint($desktop) {
        padding: 7.5rem 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.Social {
    padding-bottom: 3.125rem;

    &-icon {
        display: inline-block;
        text-align: center;
    }

    &-link {
        display: block;
        transition: transform .3s ease;

        &:hover {
            transform: translateY(-10px) scale(1.1);
            transform-origin: center center;
            transition: transform .3s ease;
        }
    }
}

.Gallery {
    &-item {
        text-align: center;
        margin-bottom: 1rem;

        a {
            display: block;
            position: relative;
            padding-top: 6px;

            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 2px;
                margin: 5px 0 0;
                transition: all .3s ease;
                opacity: 0;
                z-index: -1;
            }

            &::before {
                left: 0%;
                background-color: $black;
                top: 2px;
            }

            &::after {
                left: 0%;
                background-color: $black;
                bottom: 1px;
            }

            &:hover {
                &::before,
                &::after {
                    width: 100%;
                    opacity: 1;
                }

                &::before {
                    transform: translateY(-5px);
                }

                &::after {
                    transform: translateY(5px);
                }
            }

        }

        &:last-of-type {
            margin-bottom: 0;
        }

        

        @include breakpoint($desktop) {
            margin-bottom: 0;
        }
    }
}

#baguetteBox-overlay {
    .full-image figcaption {
        font-family: $ff-body;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: $fw-base;
        color: $white;
    }

    .baguetteBox-button {
        svg {
            polyline, line {
                stroke-width: 1px;
            }
        }
    }
}

.Contact {
    padding: 4.688rem 0;

    @include breakpoint($desktop) {
        padding: 9.38rem 0;
    }

    p {
        @include breakpoint($tablet) {
            margin-bottom: 1.56rem;
        }
    }
}

.Logo {
    padding: 3.125rem 0;

    @include breakpoint($tablet) {
        padding: 4.688rem 0;
    }
}