.Banner {
    &.is-active {
        @include breakpoint($desktop) {
            height: 100vh;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: space-between;
        }
    }
    
}

.Title {
    padding: 3.125rem 0;
    text-transform: uppercase;

    .Banner.is-active & {
        flex: 1 0 auto;
    }

    @include breakpoint($desktop) {
        padding: 6.25rem 0 3.125rem;
    }

    &-heading {
        display: inline-block;
        font-weight: $fw-base;
        margin: 0 0 .67rem;
        border-bottom: 2px solid $black;
        letter-spacing: 5px;
        padding-left: 5px;
        transition: padding .3s ease;

        &:hover {
            padding-left: calc(2rem + 5px);
            padding-right: 2rem;
        }
    }

    &-slogan {
        font-size: 0.88rem;
        margin: 0 -4px 0 0;
        letter-spacing: 4px;
    }
}

@keyframes bounce {
	0%, 30%, 100% {
        transform: translateY(0);
  }
	60% {
        transform: translateY(-10px);
  }
}

 .Arrow {
    display: flex;
    justify-content: center;
    margin: 1rem 0 5px;

     &-icon {
        cursor: pointer;
        display: block;
        padding: 1rem;
   
        &::after {
           content: '';
           display: inline-block;
           width: 1.5rem;
           height: 1.5rem;
           border-top: 2px solid $black;
           border-right: 2px solid $black;
           -moz-transform: rotate(135deg);
           -webkit-transform: rotate(135deg);
           transform: rotate(135deg);
           transform-origin: center center;
        }
   
        &:hover {
           animation: bounce .8s;
        }
     }
 }


 .Hero {
    .Banner.is-active & {
        flex: 1 1 100%;
        align-self: flex-end;
    }
 }

.Carousel {

    &-item {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        left: 0 !important;
        text-align: center;
        //transform: translateY(-0%) translateX(0) scale(.95);
        z-index: 0;
        transition-delay: 2;
        transition: opacity .7s ease-in-out, visibility .7s ease-in-out, transform .7s ease-in-out;

        &.is-selected {
            opacity: 1;
            visibility: visible;
            //transform: translateY(0) translateX(0) scale(1);
            z-index: 2;
            //transition-delay: 2;
            transition: opacity .7s ease-in-out, visibility .7s ease-in-out, transform .7s ease-in-out;
        }
    }
}

.flickity-slider {
    transform: none !important;
  }

.Intro {
    padding: 4.69rem 0;
    line-height: 2;

    @include breakpoint($desktop) {
        padding: 7.5rem 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.Social {
    padding-bottom: 3.125rem;

    &-icon {
        display: inline-block;
        text-align: center;
    }

    &-link {
        display: block;
        transition: transform .3s ease;

        &:hover {
            transform: translateY(-10px) scale(1.1);
            transform-origin: center center;
            transition: transform .3s ease;
        }
    }
}

.Gallery {
    &-item {
        text-align: center;
        margin-bottom: 1rem;

        a {
            display: inline-block;
            position: relative;
            padding-top: 6px;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                opacity: 0;
                z-index: -1;
                transform: scaleX(0);
                transition: all .4s ease;
            }

            &::after {
                left: 0;
                background-color: $black;
                bottom: -3px;
            }

            &:hover {
                &::after {
                    width: 100%;
                    opacity: 1;
                    transform: scaleX(1);
                }
            }

            &:focus {
                outline: none;
            }

        }

        &:last-of-type {
            margin-bottom: 0;
        }

        

        @include breakpoint($desktop) {
            margin-bottom: 0;
        }
    }
}

#baguetteBox-overlay {
    .full-image figcaption {
        font-family: $ff-body;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: $fw-base;
        color: $white;
    }

    .baguetteBox-button {
        background: transparent;

        svg {
            polyline, line {
                stroke-width: 1px;
            }
        }
    }
}

.Contact {
    padding: 4.688rem 0;

    @include breakpoint($desktop) {
        padding: 9.38rem 0;
    }

    p {
        @include breakpoint($tablet) {
            margin-bottom: 1.56rem;
        }
    }
}

.Logo {
    padding: 3.125rem 0;

    @include breakpoint($tablet) {
        padding: 4.688rem 0;
    }
}