.Banner {
    @include breakpoint($desktop) {
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: all .2s ease-in;
    }
}

.Title {
    padding: 3.125rem 0;
    text-transform: uppercase;

    @include breakpoint($desktop) {
        padding: 6.25rem 0 3.125rem;
        flex: 1 0 auto;
    }

    &-heading {
        display: inline-block;
        font-weight: $fw-base;
        margin: 0 0 .67rem;
        border-bottom: 2px solid $black;
        letter-spacing: 5px;
        padding-left: 5px;
        transition: padding .3s ease;

        &:hover {
            padding-left: calc(2rem + 5px);
            padding-right: 2rem;
        }
    }

    &-slogan {
        font-size: 0.88rem;
        margin: 0 -4px 0 0;
        letter-spacing: 4px;
    }
}

@keyframes bounce {
	0%, 30%, 100% {
        transform: translateY(0);
  }
	60% {
        transform: translateY(-10px);
  }
}

 .Arrow {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    z-index: 10;

     &-icon {
        cursor: pointer;
        display: block;
        padding: 1rem;
   
        &::after {
           content: '';
           display: inline-block;
           width: 1.5rem;
           height: 1.5rem;
           border-top: 2px solid $white;
           border-right: 2px solid $white;
           -moz-transform: rotate(135deg);
           -webkit-transform: rotate(135deg);
           transform: rotate(135deg);
           transform-origin: center center;
        }
   
        &:hover {
           animation: bounce .8s;
        }
     }

     @include breakpoint($desktop) {
         display: block;
     }
 }

 .Content {
    @include breakpoint($desktop) {
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        transition: all .2s ease-in;
        align-content: space-around;
        justify-content: center;
    }
 }


 .Hero {
     position: relative;

    .Banner & {
        flex: 1 1 100%;
        align-self: flex-end;
    }
 }

.Carousel {

    &-item {
        width: 100%;
        opacity: 0;
        visibility: hidden;
        left: 0 !important;
        text-align: center;
        z-index: 0;
        transition-delay: 2;
        transition: opacity .7s ease-in-out, visibility .7s ease-in-out, transform .7s ease-in-out;

        &.is-selected {
            opacity: 1;
            visibility: visible;
            z-index: 2;
            transition: opacity .7s ease-in-out, visibility .7s ease-in-out, transform .7s ease-in-out;
        }
    }

    &-image {
        @include breakpoint($touch-all) {
            position: relative;
            min-height: 320px;

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                -webkit-transform: translate(-50%,-50%);
                -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
                object-fit: cover;

                &.position-right {
                    object-position: center;
                }

                &.position-left {
                    object-position: left;
                }

                &.position-right {
                    object-position: right;
                }
            }
        }
        
    }
}

.flickity-slider {
    transform: none !important;
}

.flickity-page-dots {
    bottom: -55px;
}

.Intro {
    padding: 4.69rem 0;
    line-height: 2;

    @include breakpoint($desktop) {
        padding-top: 12.5%;
        padding-bottom: 0;
    }

    p:last-of-type {
        margin-bottom: 0;
    }
}

.Social {
    padding-bottom: 4rem;

    @include breakpoint($desktop) {
        padding-bottom: 3.125rem;
        padding-top: 3.125rem;
        flex-basis: 100%;
    }

    &-icon {
        display: inline-block;
        text-align: center;
    }

    &-link {
        display: block;
        transition: transform .3s ease;

        &:hover {
            transform: translateY(-10px) scale(1.1);
            transform-origin: center center;
            transition: transform .3s ease;
        }
    }
}

.Gallery {
    &-item {
        text-align: center;
        margin-bottom: 2rem;

        a {
            display: inline-block;
            position: relative;
            padding-top: 6px;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                opacity: 0;
                z-index: -1;
                transform: scaleX(0);
                transition: all .4s ease;
            }

            &::after {
                left: 0;
                background-color: $black;
                bottom: -3px;
            }

            &:hover {
                &::after {
                    width: 100%;
                    opacity: 1;
                    transform: scaleX(1);
                }
            }

            &:focus {
                outline: none;
            }

        }

        &:last-of-type {
            margin-bottom: 0;
        }

        

        @include breakpoint($desktop) {
            margin-bottom: 0;
        }
    }
}

#baguetteBox-overlay {
    .full-image figcaption {
        font-family: $ff-body;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: $fw-base;
        color: $white;
    }

    .baguetteBox-button {
        background: transparent;

        svg {
            polyline, line {
                stroke-width: 1px;
            }
        }
    }
}

.Contact {
    padding: 4.688rem 0;

    @include breakpoint($desktop) {
        padding: 9.38rem 0;
    }

    p {
        @include breakpoint($tablet) {
            margin-bottom: 1.56rem;
        }
    }
}

.Logo {
    padding: 3.125rem 0;

    @include breakpoint($tablet) {
        padding: 4.688rem 0;
    }
}