@import url("//hello.myfonts.net/count/36a97c");
@font-face {
    font-family: 'Avenir';
    src: url('../fonts/36A97C_0_0.eot');
    src: url('../fonts/36A97C_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/36A97C_0_0.woff2') format('woff2'),url('../fonts/36A97C_0_0.woff') format('woff'),url('../fonts/36A97C_0_0.ttf') format('truetype');}
 