.Wrapper {
    width: 100%;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.Row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 100%;
    margin: 0 -1.5rem;
}

.Cell {
    flex-grow: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    flex-basis: 100%;

    &--25 {
        _:-ms-fullscreen, :root & {
            -ms-flex: 1 1 0%;
          }
          flex-basis: 50%;
    }

    @include breakpoint($tablet) {
        &--66 {
            flex-basis: 66.66666%;
         }

        &--25 {
            _:-ms-fullscreen, :root & {
                -ms-flex: 1 1 0%;
              }
              flex-basis:25%;
        }
    }

    @include breakpoint($desktop) {
        
        &--50 {
           flex-basis: 50%;
        }
    
        &--33 {
            flex-basis:33.33333%
        }
    
    
        &--20 {
            flex-basis: 20%;
        }
    }

}