// Colours
$black: #000;
$white: #fff;

// Typography
$fs-base: 16px;
$fs-tablet: 14px;
$fs-mobile: 16px;

$ff-body: "Avenir", "Helvetica Neue", "Open Sans", Arial, sans-serif;

$fs-h1: ms(4);
$fs-h2: ms(3);
$fs-h3: ms(2);
$fs-h4: ms(1);
$fs-h5: ms(1);
$fs-h6: ms(1);

$fw-base: 400;
$fw-bold: 600;

$lh-base: 1.5;
$lh-head: 1.4;