.u-align-center {
    align-items: center;
}

.u-justify-center {
    justify-content: center;
}

.u-txt-center {
    text-align: center;
}

.u-txt-uppercase {
    text-transform: uppercase;
}

.u-letter-spacing {
    letter-spacing: 2px;
}

.u-rel {
    position: relative;
}